# Get your API key from https://platform.openai.com/api-keys
OPENAI_API_KEY=sk-your-openai-api-key-here

# Get your API key from https://dashboard.twelvelabs.io/api-key
TWELVELABS_API_KEY=tlk_your-twelvelabs-api-key-here

# Your TwelveLabs index ID where videos will be stored
TWELVELABS_INDEX_ID=your-index-id-here


# Get your credentials from https://www.browserbase.com/
BROWSERBASE_API_KEY=bb_your-browserbase-api-key-here
BROWSERBASE_PROJECT_ID=your-browserbase-project-id-here

# Format: http://username:password@host:port or http://host:port
# Leave empty if not using a proxy
PROXY_URL=

# Used for self ping to keep the app alive on platforms
APP_URL=http://localhost:5000